@page "/history"

@inject ICarPriceService CarPriceService

<h4>История запросов</h4>

@if (carHistories == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Компания</th>
                <th>Модель</th>
                <th>Год</th>
                <th>Цена</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carHistory in carHistories)
            {
                <tr>
                    <td>@carHistory.Company</td>
                    <td>@carHistory.Model</td>
                    <td>@carHistory.Year</td>
                    <td>@carHistory.Price</td>
                    <td>@carHistory.Action</td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="Back">Назад</button>
    <button class="btn btn-primary" @onclick="Next">Вперед</button>
}

@code {
    private PagintaionEnumerable<CarHistoryModel> carHistories;

    private void Next()
    {
        carHistories.NextPage();
    }

    private void Back()
    {
        carHistories.BackPage();
    }

    protected override async Task OnInitializedAsync()
    {
        var cars = await CarPriceService.GetHistortAsync();

        carHistories = cars.ToPaginationEnumerable(10);
    }
}
