@page "/carbestdeals/carbestdealsdata"

@inject LocalStorageService LocalStorage

<h1>Car Best Deals</h1>

@if (сarBestDeals == null)
{
    <p><em>We have a problem :(</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Company</th>
                <th>Model</th>
                <th>Year</th>
                <th>Price</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carBestDeal in сarBestDeals)
            {
                <tr>
                    <td>@carBestDeal.Company</td>
                    <td>@carBestDeal.Model</td>
                    <td>@carBestDeal.Year</td>
                    <td>@carBestDeal.Price</td>
                    <td>@carBestDeal.Link</td>
                </tr>
            }
        </tbody>
    </table>

    <button class="btn btn-primary" @onclick="Back">Back</button>
    <button class="btn btn-primary" @onclick="Next">Next</button>
}

@code {
    private PagintaionEnumerable<CarBestDealDataModel> сarBestDeals;

    private void Next()
    {
        сarBestDeals.NextPage();
    }

    private void Back()
    {
        сarBestDeals.BackPage();
    }

    protected override void OnInitialized()
    {
        сarBestDeals = LocalStorage.CarBestDealModels
                                   .ToPaginationEnumerable(10);
    }
}
