@page "/carbestdeals/carbestdealsdata"

@inject LocalStorageService LocalStorage

<h1>Лучшие объявления</h1>

@if (сarBestDeals == null)
{
    <p><em>Таких машин нет :(</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Компания</th>
                <th>Модель</th>
                <th>Год</th>
                <th>Цена</th>
                <th>Ссылка</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carBestDeal in сarBestDeals)
            {
                <tr>
                    <td>@carBestDeal.Company</td>
                    <td>@carBestDeal.Model</td>
                    <td>@carBestDeal.Year</td>
                    <td>@carBestDeal.Price</td>
                    <td>
                        <a href="@carBestDeal.Link">@carBestDeal.Link</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button class="btn btn-primary" @onclick="Back">Назад</button>
    <button class="btn btn-primary" @onclick="Next">Вперед</button>
}

@code {
    private PagintaionEnumerable<CarBestDealDataModel> сarBestDeals;

    private void Next()
    {
        сarBestDeals.NextPage();
    }

    private void Back()
    {
        сarBestDeals.BackPage();
    }

    protected override void OnInitialized()
    {
        сarBestDeals = LocalStorage.CarBestDealModels
                                   .ToPaginationEnumerable(10);
    }
}
